<div id="student_edit"
	 title="Daniela remember to switch to German!">
<h1>New student</h1>

<%= render(:partial => 'forms', :locals => {:action => "create",
											:legend => "Create New Student",
											:submit => "Add Student"}) %>

</div>

