<div id="coursesTitle">
	<h3 class="flexi120"><%= I18n.t("teaching.classes.title") %></h3>
</div>

<hr style="margin:0% 3%; border: 2px ridge #ccc6c6; width:96%;" />
<div class="classesDiv">
	
	<h3 class="flexi120">18 April 2010<span class="locationSpan">, 10am - 5pm, Hollytree House, Shepherds Hill, Colemans Hatch, TN7 4HN, <em><%= mail_to "partriciarobertson@fastmail.fm" %></em></span></h3>

	<img id="flyer1"
	     style="width:40%;"
		 src="/images/teaching/classes/masterclass_18_4_10.jpg"
	 	 alt="flyer 18_4_10"/>

	<div id="contentCourse1">
		<div class="classesContent">
			<p class="flexi80">Enrollment:
			</p>
			<p class="flexi80">The class is open to the public.<br />Teachers and parents are welcome to observe. <br />Cellists interested in participating, please contact Patricia Calnan on<br />
				01342 826249 or 07976 269208 or <em><%= mail_to "partriciarobertson@fastmail.fm" %></em></p>
			<p class="flexi80">Cost: £85 per participant for 1 hour in masterclass, observers £5.
				<br />Light lunch included.
			</p>
			<p class="flexi80">
			</p>
		</div>
		<div id="map_canvas" style="float:right; width:100%; height:300px; margin: 3% 0% 0% 0%;">
		</div>
	</div>

</div>
