<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta name="google-site-verification" content="inLPB-c45u_DBzN4IaSmSZjHFfr0CatDzwWB0CreeIQ" /><!-- www.gorokhov.eu -->
  <meta name="google-site-verification" content="MuZA0mF6h3i5XhM1_QPVO42ENlSq2X2hImxGt8RPay4" /><!-- www.leonidgorokhov.com -->
  <meta name="google-site-verification" content="58HCZHMc7dNlTDqqPEdJklxIw6FRCOxTKpBGncwR3Dw" /><!-- www.gorokhov.co.uk -->
  <meta name="google-site-verification" content="J8ufy31y0uq6KpM36HwccW0qDCRkQfiNi5UMDwkkmjI" /><!-- www.gorokhov.de -->
  <meta name="google-site-verification" content="MuZA0mF6h3i5XhM1_QPVO42ENlSq2X2hImxGt8RPay4" /><!-- leonidgorokhov.com -->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="content-script-type" content="text/javascript" />
  <meta http-equiv="content-style-type" content="text/css" />
  <meta http-equiv="content-language" content="en" />
  <meta name="author" content="http://wwwebsites.com" />
  <meta name="copyright" content="2009, Daniela van der Heijden" />
  <meta name="description" content="Leonid Gorokhov, cellist" />
	<meta name="title" content="Leonid Gorokhov, cellist" />
  <meta name="keywords" content="leonidgorokhov.com, gorokhov.co.uk, gorokhov.de, gorokhov.eu, Leonid Gorokhov, Leonid Gorokoff, Leonid Gorokov, Leonid Ghorokov, Leonid Gorokhoff, Gorokhov, Gorokoff, Gorokov, Gorokhoff, Larissa Skomarovska, cello, cellist, soloist, concert, chamber music, trio, string trio, piano trio, Russian, Russia, Yehudi Menuhin, Lord Menuhin, Nikolai Demidenko, Niklas Sivelov, Kathryn Stott, Hermitage String Trio, Boris Garlitsky, Alexander Zemstov, piano, violin, viola, teaching, teacher, professor, music, music school, Guildhall School of Music, Hochschule für Musik und Drama Hannover, Anatoli Nikitin, Daniil Shafran, Concertino Praga, Paris Chamber Music Competition, Geneva Concours, European Association for Encouragement of the Arts, Cultural Achievement Prize, St. Petersburg, London, Hannover, concerto, concertos, Wigmore Hall, Bergen Philharmonic, Berlin Philharmonic, Royal Philharmonic, English Symphony Orchestra, Sinfonia Varsovia, Zurich Tonhalle, Philharmonia Hungarica, Enescu Philharmonic, Philharmonia Orchestra, St. Petersburg Capella, Moscow State Symphony Orchestra, Bastad Festival, Belfast Festival, Eilat Winter Festival, Oslo Chamber Music Festival, Petworth Festival, Townshill Festival, Athens Megaron, BargeMusic New York, Budapest Spring Festival, Corinthian Summer Festival, Davos Festival, Evian Festival, Gstaad Festival, Harrogate Festival, Interlaken Festival, Kuhmo Festival, Ljubljana Festival, Munich Festival, Perth Festival, Schleswig-Holstein Festival, Spoleto Festival, Japan tour, Thailand Philharmonic, Macau Chamber Orchestra, Basel Symphony Orchestra, BBC Scottish Symphony Orchestra, Berlin Radio Symphony Orchestra, Biel Symphony Orchestra, Norrkoping Symphony Orchestra, Prague Philharmonic, Promusica Salzburg, Orchestre de la Suisse Romande, Boccherini, Debussy, Haydn, Kodaly, Martinu, Shostakovich, Tchaikovsky, Tortelier, Saint-Saens, Prokofiev, Stravinsky, Russian Discoveries, Virtuoso Cello Transcriptions, Schubert, Schnittke, Rachmaninov" />
  <title>Leonid Gorokhov, cellist</title>
  <%= stylesheet_link_tag 'shared', 'under_construction' %>
  <%#= javascript_include_tag :defaults, 'swfobject' %>
</head>

<body>
	<div id="page">
	
		<%= render :partial => 'shared/lang_log' %>
	
		<p>under construction again and again</p>
	
	</div>

</body>
</html>
