<h3 style="color:white; margin-top:9%;">Edit Project</h3>

<div style="padding:1% 8%; text-align:left;">	
<p class="flexi80" style="color:#ffff99;">LARISSA: edit whatever you want to change, then save by clicking "update"</p>
</div>

<%= render(:partial => 'forms', :locals => {:text => "Edit Project Details",
											:link_text => "Update"}) %>
											


