<h3 style="color:white; margin-top:9%;">New project</h3>

<%= render(:partial => 'forms', :locals => {:text => "Enter Project Details (Instructions at bottom)",
											:link_text => "Add Project"}) %>

<div style="padding:1% 8%; text-align:left; color:#aa0000;">	
<p class="flexi80"><b>LARISSA - HOW TO CREATE NEW PROJECTS:</b><br /><span style="color:#99ff99;">DO NOT WORRY!! IF YOU MAKE A MISTAKE, YOU CAN ALWAYS EDIT THE MISTAKE YOU MADE</span></p>
<p class="flexi80" style="color:#ffff99;"><b>Concerts:</b></p>
<p class="flexi80" style="color:#ffff99;">Select the date (use start date for that)<br />
Fill in: Location, Composers, with whom<br />
For the link: Google the concert and when you are on the page you want to link to, copy the address (at the top of your browser - safari I guess) and paste it into the "web address" field.<br />
Click "add project" to save the project.
</p>
<p class="flexi80" style="color:#99ffff;"><b>Courses:</b></p>
<p class="flexi80" style="color:#99ffff;">Select "course" in event type, and a start and end date - MAKE SURE YOU SET DAY, MONTH AND YEAR!</p>
<p class="flexi80" style="color:#99ffff;">Fill in Line 1 (Location) whatever text is appropriate (you can go on to line 2 and 3 if you want). No need to fill in the web address.
</p>
<p class="flexi80" style="color:#ff99ff;"><b>Masterclasses:</b></p>
<p class="flexi80" style="color:#ff99ff;">Select "masterclass" in event type, and a date (start date if only 1 day, start and end date if longer - MAKE SURE YOU SET DAY, MONTH AND YEAR!)</p>
<p class="flexi80" style="color:#ff99ff;">Fill in Line 1 (Location) whatever text is appropriate (you can go on to line 2 and 3 if you want). No need to fill in the web address.
</p>
</div>

