<style type="text/css">
body{
background-color: #161320;
}
</style>

<div id="highResPhoto">
	<h3 class="flexi100"><%= I18n.t("playing.photos.highResText") %></h3>
	<img src="/images/gallery/highres/<%= @photo %>.jpg"
	 	 alt="high resolution photo" />
</div>