<style type="text/css">
body {
background-color: #dddddd;
}
</style>

<div id="reviewsTitle">
	
	<% @articles.each do |a| %>
	<% puts a.publish_date.class %>
		<h3 class="flexi120"
			onclick="leonid.scrollText.showArticle('<%= a.id %>');"><%= a.publisher %></h3>
		<p class="flexi33"><%= a.publish_date.to_formatted_s(:month_and_year)%></p>
	<% end %>

</div>

<div id="scrollBlanket"
	 style="display:none;">
</div>
<div id="reviewsContent">
</div>
